@import '../global/colors.scss';
@import '../global/mixins.scss';
@import '../global/typography.scss';
.pet-snapshot {
  @include box-shadow;
  background-color: $layoutWhite;
  margin-bottom: 24px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  * {
    cursor: pointer;
  }
  &.content,
  .content {
    padding: 12px;
    @media screen and (min-width: 768px) {
      padding: 20px;
    }
  }
  .more-details {
    width: 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
  &:hover:not(.pending) {
    border: 1px solid $darkBlue;
    .more-details {
      color: $layoutWhite;
      background-color: $darkBlue;
    }
  }
}

.pet-info {
  label {
    padding-right: 20px;
    font-size: 16px;
    font-family: $newsCycle;
    font-weight: 700;
    color: $layoutBlack;
  }
  p {
    font-family: $sura;
    font-size: 16px;
  }
}